.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  display: flex;
  flex-direction: row;
}
.reset {
  display: flex;
  justify-content: center;
}
.birthday-btn {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(200, 235, 28);
  color: #000;
  text-decoration: none;
}
.btn:hover {
  background-color: rgb(251, 255, 6);
  color: rgb(0, 0, 0);
}
.rules {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 244, 4, 0.257);
  width: 550px;
  margin: 0 auto;
}
.dance {
  display: flex;
  justify-content: space-between;
}

.game {
  display: flex;
  justify-content: center;
}
.page {
  margin-top: 300px;
}
body {
  font-family: kanit;
  color: #0d2710;
  background-color: rgb(26, 86, 24);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://freesvg.org/img/PatricksDay_Border__Arvin61r58.png");
}
